%footer
  .container
    %nav
      %ul.nav.nav-pills
        %li
          = link_to 'Services', '#'
        %li
          = link_to 'Solutions', '#'
        %li
          = link_to 'Blog', '#'
        %li
          = link_to 'Contact', '#'
