%header.navbar.navbar-static-top{role: 'banner'}
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#cg-navbar-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar 
        %span.icon-bar
      %a.navbar-brand{href: '/'}
        %img.img-responsive{alt: 'The Cyber Generation', src: '/images/thecybergeneration.png'}
    %nav#cg-navbar-collapse.collapse.navbar-collapse{role: 'navigation'}
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Services', '#'
        %li
          = link_to 'Solutions', '#'
        %li
          = link_to 'Blog', '#'
        %li
          = link_to 'Contact', '#'
