%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', content: 'ID=edge;chrome=1'}
  %title
    - unless current_article.nil?
      = current_article.title
    - else
      = current_page.data.title || "The Cyber Generation"

  :javascript
    WebFontConfig = {
      google: { 
        families: [ 
          'Open+Sans:400,300,600:latin',
          'Roboto:400,300:latin'
        ]
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();

  = stylesheet_link_tag :site

  %meta{'http-equiv' => 'CACHE-CONTROL', content: 'NO-CACHE'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

  %link{href: '/images/favicon.png', rel: 'shortcut icon', type: 'image/x-icon'}
  %link{href: '/images/favicon.png', rel: 'icon', type: 'image/x-icon'}
