.container.cg-callouts
  .row
    .col-md-4
      %h2 
        %span.cg-icon.cg-icon-data
        Managed Services
      %p 
        Our service model enables you to place resource-intensive IT operations under the 
        management of our experienced specialists so you can focus on your business.
      %p
        %a.btn.btn-default{href: '/services.html'} Learn more
    .col-md-4
      %h2 
        %span.cg-icon.cg-icon-person
        IT Consulting
      %p 
        With years of hands-on experience, we offer a wide variety of IT support involving 
        cloud migrations, email servers, technical support, security audits, and much more.
      %p
        %a.btn.btn-default{href: '/solutions.html#consulting'} Learn more
    .col-md-4
      %h2 
        %span.cg-icon.cg-icon-bulb
        Education
      %p 
        Our IT instructors work in the field on a daily basis keeping their skills razor 
        sharp. This real-world insight enables us to offer a unique world-class 
        learning experience.
      %p
        %a.btn.btn-default{href: '/solutions.html#education'} Learn more
