.cg-partners{style: 'padding: 0 15px'}
  .row
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive{src: '/images/partners/barracuda.png'}
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive{src: '/images/partners/amazon.png'}
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive{src: '/images/partners/citrix.png'}
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive{src: '/images/partners/microsoft.png'}
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive{src: '/images/partners/rackspace.png'}
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive{src: '/images/partners/apple.png'}
