.jumbotron.cg-testimonials
  .container
    .row
      .col-md-3
        %blockquote
          %p 
            I would like to extend a special thank you for your excellent service. It has 
            been a great experience. It was a pleasure working with your team.
          %small 
            %cite Cortney, ISC Investments
      .col-md-3
        %blockquote
          %p 
            They implemented a very robust virtual private cloud for us with ease.  From 
            beginning to end they made a tough job look easy. Certainly a pleasure!
          %small
            %cite Mary, NC State
      .col-md-3
        %blockquote
          %p
            Very professional and is always responsive to our needs. I highly recommend 
            them and will continue to work with them.
          %small
            %cite Tom, Broward County
      .col-md-3
        %blockquote
          %p
            I was very pleased. They are very technical and a pleasure to work with.  
            Cheers for your help again. Very satisfied customer!
          %small
            %cite Les, PBSO


