.container
  .row.phone
    %h1.text-center Contact us anytime
    %hr
    %p.lead.text-center How can we help you? Give us a call.
    %h1.big.text-center (561) 232-3571
  .row.email
    %h2 email
    %p.text-center
      %a{href: 'mailto:info@thecybergeneration.com'} info@thecybergeneration.com
  .row.address
    %h2 address 
    %p
      %address
        125 South State Road 7, Suite 104
        %br
        Wellington, FL  33414
  .row.fax
    %h2 fax
    %p (561) 232-3572
