.jumbotron.cg-banner
  .container
    %h1 Make Things Happen
    %p Education and IT solutions and services
    %p
      %a.btn.btn-lg.btn-primary{href: '#'} Learn More

= partial 'includes/homepage/callouts'

= partial 'includes/homepage/partners'

= partial 'includes/homepage/testimonials'
