.jumbotron
  .container
    %h1 The Cyber Generation
    %p Education and IT solutions and services
    %p
      %a.btn.btn-lg.btn-primary{href: '#'} Get Started

.container
  .row
    .col-md-4
      %h2 Managed Services
      %p 
        Our service model enables you to place resource-intensive IT operations under the management of our experienced
        specialists so you can focus on your business.
      %p
        %a.btn.btn-default{href: '#'} Learn more
    .col-md-4
      %h2 IT Consulting
      %p 
        With years of hands-on experience, we offer a wide variety of IT support involving cloud migrations,
        virtualization projects, email servers, technical support, security audits, and much more.
      %p
        %a.btn.btn-default{href: '#'} Learn more
    .col-md-4
      %h2 Education
      %p 
        Our IT instructors work in the field on a daily basis keeping their skills razor sharp.  This real-world insight
        enables us to offer a unique world-class learning experience.
      %p
        %a.btn.btn-default{href: '#'} Learn more

.jumbotron
  .container
    .row
      .col-md-12
        %h2.text-center What clients are saying...

    .row
      .col-md-3
        %blockquote
          %p 
            I would like to extend a special thank you for your excellent service.  It has been a great experience.  It 
            was a pleasure working with your team.
          %small 
            %cite Cortney, ISC Investments
      .col-md-3
        %blockquote
          %p 
            They implemented a very robust virtual private cloud for us with ease.  From beginning to end they made a 
            tough job look easy.  Certainly a pleasure!
          %small
            %cite Mary, NC State
      .col-md-3
        %blockquote
          %p
            Very professional and is always responsive to our needs.  I highly recommend them and will continue to work 
            with them.
          %small
            %cite Tom, Broward County
      .col-md-3
        %blockquote
          %p
            I was very pleased.  They are very technical and a pleasure to work with.  Cheers for your help again.  Very 
            satisfied customer!
          %small
            %cite Les, PBSO

.container
  .row
    .col-md-6.col-md-offset-3
      %a.btn.btn-primary.btn-lg.btn-block{href: '#'}
        %h1 Join with The Cyber Generation
