.jumbotron
  .container
    %h1 The Cyber Generation
    %p Education and IT solutions and services
    %p
      %a.btn.btn-lg.btn-primary{href: '#'} Get Started

= partial 'includes/homepage/callouts'

= partial 'includes/homepage/partners'

= partial 'includes/homepage/testimonials'
